.background-modal-baba{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.392);
    position: fixed;
    z-index: 224234;
    overflow: hidden;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.5s;
}

.modal-baba{
    width: 25vw;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 15px;
}

.close{
    position: absolute;
    right: 10px;
    top: -50px;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
}
.rg-modal{
    display: flex;
    text-align: center;
    gap: 5px;
}
.modal-rg-format{
    font-size: 30px;
}

.modal-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background-color: rgba(238, 238, 238, 0);
    padding: 20px 20px;
    border-radius: 30px;
}

.modal-show{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
h3{
    color: #894aff;
}

.modal-curriculo{

}

.modal-curriculo ul{
    display: flex;
    flex-direction: column;


}
.submit {
    color: white;
    background-color: #894aff;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.submit:hover {
    transform: scale(1.05);
}