@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main-color: #894aff;
  }

html {
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.logo {
    width: 170px;
}
header{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid rgb(199, 199, 199);
    position: relative;
}
ul{
    display: flex;
    gap: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

header > ul > li {
    list-style: none;
    color: var(--main-color);
    font-size: 17px;
    cursor: pointer;
}

header > ul > li:hover {
    color: black;
}


.search {
    width: 250px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    height: 40px;
    padding: 0px 20px;

    text-decoration: none;
    outline-width: 40px;

}
.search-logo{
    position: absolute;
    width: 30px;
    left: 0;
}

.home{
    background-color:var(--main-color);
    display: flex;
    justify-content:center;
    gap: 200px;
    width: 100%;
    align-items: center;
    z-index: 1;
    height: 500px;
}

.title{
    font-size: 50px;
    width: 400px;
    color: white;
}

.crianca {
    width: 500px;
}
.circles{
    display: flex;
    gap: 20px;
}
.circle1{
    width: 75px;
    background-color: white;
    height: 75px;
    border-radius: 100%;
    margin-top: 100px;
    margin-left: 20px;
}
.circle2{
    width: 50px;
    background-color: white;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 100px;
}
.circle3{
    width: 50px;
    background-color: white;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 100px;
}
.entrar{
    position: relative;
    display: flex;
    justify-content: center;
}
.window-entrar{
    position: absolute;
    flex-direction: column;
    text-align: center;
    background-color: white;
    list-style: none;
    justify-content: center;
    height: 100px;
    align-items: center;
    width: 200px;
    top: 45px;
    gap: 30px;
    display: none;
}

.window-cadastrar{
    position: absolute;
    z-index: 200;
    flex-direction: column;
    display: none;
}
.window-entrar li{
    font-size: 15px;
}
.filter-bar {
    width: 100%;
    height: 80px;
    border-bottom: solid 2px rgb(218, 218, 218);
    display: flex;
    justify-content:first baseline;
    align-items: center;
    padding: 0px 70px;
    gap: 30px;
}
.input-idade {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    width: 190px;
}
.divide-age{
    display: flex;
    gap: 10px;
}
.divide-age p{
width: 23px;
}

.div-sexo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.div-especialidade {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.div-distancia {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.range-baba {
    width: 131px;
}
.img-baba{
    width: 40%;
    border-radius: 100%;
    background-color: rgb(207, 207, 207)
}
.cards{
    width: 100%;
  gap: 30px;
    padding: 20px 100px 200px 100px;
    display: flex;
    flex-wrap: wrap;

}
.card-baba {
position: relative;
width: 350px;
height: 350px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
border-radius: 20px;
border: solid 1px var(--main-color);
cursor: pointer;

color: rgb(0, 0, 0);
transition: all ease-in-out 0.5s;
}
.card-baba:hover{
    transform: scale(1.05);
}
.infos-baba {
    display: flex;
    gap: 10px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.div-especialidade-baba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    font-weight: 600;
}

.favorite-icon {
    width: 35px;
    position: absolute;
    right: 40px;
    top: 40px;
}


footer {
    width: 100%;
    height: 300px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

footer h1{
    text-align: center;
}

footer h1 span{
    color: gold;
}

.separa {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.filter-button {
    color: white;
    background-color: #894aff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.filter-button :hover {
    transform: scale(1.05);
}